<form class="form-horizontal">
    <legend>Custom Object test</legend>
    <div class="control-group">
        <label class="control-label">Title</label>
        <div class="controls">
            <input name="title" type="text" value="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
            <input name="description" type="text" value="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Age</label>
        <div class="controls">
            <input name="age" type="text" value="">
        </div>
    </div>
    <hr/>
    <a class="btn" href="#/">Back</a>
</form>